{% extends 'base.html' %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block content %}
<div class="user-profile">
    <div class="left">
        <h2>{{ user.username }}</h2>

        <!-- Profile Picture -->
        {% if user.bio.profile_picture %}
        <div class="profile-picture">
            <img src="{{ user.bio.profile_picture.url }}" alt="Profile Picture">
        </div>
    </div>
    {% endif %}

    <!-- Info -->
    <div class="user-info">
        {% if user.bio.date_of_birth %}
        <p class="title"><strong>Date of Birth:</strong></p>
        <p class="text">{{ user.bio.date_of_birth }}</p>
        {% endif %}

        {% if user.bio.country %}
        <p class="title"><strong>Country:</strong></p>
        <p class="text">{{ user.bio.country }}</p>
        {% endif %}

        {% if user.bio.fav_anime %}
        <p class="title"><strong>Favourite Anime:</strong></p>
        <p class="text">{{ user.bio.fav_anime }}</p>
        {% endif %}

        {% if user.bio.bio %}
        <p class="title"><strong>Bio:</strong></p>
        <p class="text bio">{{ user.bio.bio }}</p>
        {% endif %}
    </div>
    <div class="edit-bio">
        {% if request.user == user %}
        <a href="{% url 'edit_user_bio' %}">Edit Bio</a>
        {% endif %}
    </div>
</div>
{% endblock %}
